@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Segment';
  src: url('/fonts/Segment-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Segment';
  src: url('/fonts/Segment-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Segment', sans-serif;
}

.btn-primary {
  @apply text-base text-white;
}